# API Configuration
# For local development, use your local backend URL
# For Android emulator: http://10.0.2.2:8001/api
# For iOS simulator: http://localhost:8001/api
# For physical device: http://YOUR_COMPUTER_IP:8001/api
# For production: https://your-production-api.com/api
API_BASE_URL=http://127.0.0.1:8001/api

# Environment
# Options: development, production
NODE_ENV=development

# PostHog
EXPO_PUBLIC_POSTHOG_KEY=
EXPO_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
